### Leitura da base

In [134]:
import pandas as pd

In [135]:
df = pd.read_csv('csv_total\oncologia.csv')

In [136]:
df

,ANO_DIAGN,ANOMES_DIA,ANO_TRATAM,ANOMES_TRA,UF_RESID,MUN_RESID,UF_TRATAM,MUN_TRATAM,UF_DIAGN,MUN_DIAG,...,SEXO,ESTADIAM,CNES_DIAG,CNES_TRAT,TEMPO_TRAT,CNS_PAC,DIAG_DETH,DT_DIAG,DT_TRAT,DT_NASC
0,2018,201809,2020.0,202009.0,42,421570,42.0,420540.0,42,420540,...,F,4.0,19445,19445.0,735.0,NaN,C53,18/09/2018,22/09/2020,10/05/1977
1,2018,201811,2019.0,201905.0,31,310620,31.0,310620.0,31,310620,...,F,2.0,27049,27049.0,162.0,NaN,C50,20/11/2018,01/05/2019,30/11/1966
2,2018,201805,NaN,NaN,27,270430,NaN,NaN,27,270430,...,F,9.0,2007037,NaN,99999.0,NaN,C18,22/05/2018,NaN,17/08/1956
3,2018,201809,2019.0,201912.0,41,411520,41.0,411520.0,41,411520,...,M,NaN,2586169,2586169.0,440.0,NaN,C92,18/09/2018,02/12/2019,02/09/1977
4,2018,201809,NaN,NaN,35,353070,NaN,NaN,35,353070,...,M,9.0,2096463,NaN,99999.0,NaN,C02,25/09/2018,NaN,08/12/1983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185032,2023,202308,2023.0,202308.0,35,350600,35.0,350600.0,35,350600,...,F,5.0,2790602,2790602.0,0.0,NaN,C76,10/08/2023,10/08/2023,19/12/1989
3185033,2023,202301,2023.0,202301.0,23,230440,23.0,230440.0,23,230440,...,M,5.0,2723220,2723220.0,0.0,NaN,C77,05/01/2023,05/01/2023,29/02/1984
3185034,2023,202311,NaN,NaN,50,500270,NaN,NaN,50,500270,...,M,9.0,9776,NaN,NaN,NaN,C83,03/11/2023,NaN,28/09/1959
3185035,2023,202302,2023.0,202303.0,35,352950,35.0,354980.0,35,354980,...,M,NaN,2077396,2077396.0,17.0,NaN,C80,25/02/2023,14/03/2023,20/06/1967
3185036,2023,202309,NaN,NaN,35,351550,NaN,NaN,35,354980,...,M,9.0,2077396,NaN,99999.0,NaN,C22,29/09/2023,NaN,25/12/1944

In [137]:
df.describe

<bound method NDFrame.describe of          ANO_DIAGN  ANOMES_DIA  ANO_TRATAM  ANOMES_TRA  UF_RESID  MUN_RESID  \
0             2018      201809      2020.0    202009.0        42     421570
1             2018      201811      2019.0    201905.0        31     310620
2             2018      201805         NaN         NaN        27     270430
3             2018      201809      2019.0    201912.0        41     411520
4             2018      201809         NaN         NaN        35     353070
...            ...         ...         ...         ...       ...        ...
3185032       2023      202308      2023.0    202308.0        35     350600
3185033       2023      202301      2023.0    202301.0        23     230440
3185034       2023      202311         NaN         NaN        50     500270
3185035       2023      202302      2023.0    202303.0        35     352950
3185036       2023      202309         NaN         NaN        35     351550

         UF_TRATAM  MUN_TRATAM  UF_DIAGN  MUN_DIAG  ...  SEXO  ESTADIAM  \
0             42.0    420540.0        42    420540  ...     F       4.0
1             31.0    310620.0        31    310620  ...     F       2.0
2              NaN         NaN        27    270430  ...     F       9.0
3             41.0    411520.0        41    411520  ...     M       NaN
4              NaN         NaN        35    353070  ...     M       9.0
...            ...         ...       ...       ...  ...   ...       ...
3185032       35.0    350600.0        35    350600  ...     F       5.0
3185033       23.0    230440.0        23    230440  ...     M       5.0
3185034        NaN         NaN        50    500270  ...     M       9.0
3185035       35.0    354980.0        35    354980  ...     M       NaN
3185036        NaN         NaN        35    354980  ...     M       9.0

         CNES_DIAG  CNES_TRAT  TEMPO_TRAT  CNS_PAC  DIAG_DETH     DT_DIAG  \
0            19445    19445.0       735.0      NaN        C53  18/09/2018
1            27049    27049.0       162.0      NaN        C50  20/11/2018
2          2007037        NaN     99999.0      NaN        C18  22/05/2018
3          2586169  2586169.0       440.0      NaN        C92  18/09/2018
4          2096463        NaN     99999.0      NaN        C02  25/09/2018
...            ...        ...         ...      ...        ...         ...
3185032    2790602  2790602.0         0.0      NaN        C76  10/08/2023
3185033    2723220  2723220.0         0.0      NaN        C77  05/01/2023
3185034       9776        NaN         NaN      NaN        C83  03/11/2023
3185035    2077396  2077396.0        17.0      NaN        C80  25/02/2023
3185036    2077396        NaN     99999.0      NaN        C22  29/09/2023

            DT_TRAT     DT_NASC
0        22/09/2020  10/05/1977
1        01/05/2019  30/11/1966
2               NaN  17/08/1956
3        02/12/2019  02/09/1977
4               NaN  08/12/1983
...             ...         ...
3185032  10/08/2023  19/12/1989
3185033  05/01/2023  29/02/1984
3185034         NaN  28/09/1959
3185035  14/03/2023  20/06/1967
3185036         NaN  25/12/1944

[3185037 rows x 23 columns]>

In [138]:
df.dtypes

ANO_DIAGN       int64
ANOMES_DIA      int64
ANO_TRATAM    float64
ANOMES_TRA    float64
UF_RESID        int64
MUN_RESID       int64
UF_TRATAM     float64
MUN_TRATAM    float64
UF_DIAGN        int64
MUN_DIAG        int64
TRATAMENTO      int64
DIAGNOSTIC      int64
IDADE           int64
SEXO           object
ESTADIAM      float64
CNES_DIAG       int64
CNES_TRAT     float64
TEMPO_TRAT    float64
CNS_PAC       float64
DIAG_DETH      object
DT_DIAG        object
DT_TRAT        object
DT_NASC        object
dtype: object

### Transformação

Aqui vamos transformar a coluna ANO_MESDIA, que vinha com os valores representando o ano e o mes do diagnóstico, agora passou a representar somente o mes do diagnóstico e foi nomeada para MES_DIAGN

In [139]:
#transformando a coluna ANOMES_DIA
# Extrair o mês e criar a nova coluna MES_DIAGN
#AGORA A COLUNA VAI SE CHAMAR MES_DIAGN e vai guardar somente o MES do DIAGNOSTICO
df['MES_DIAGN'] = df['ANOMES_DIA'].astype(str).str[-2:].astype(int)

# Remover a coluna antiga
df.drop(columns=['ANOMES_DIA'], inplace=True)

Na coluna ANO_TRATAM vamos preencher os valores nulos com 'DESCONHECIDO', visto que não são todos que diagnosticam e tratam o câncer.

In [140]:
# Substituir NaN por "NÃO REGISTRADO" e converter números para inteiros
df['ANO_TRATAM'] = df['ANO_TRATAM'].apply(lambda x: 'DESCONHECIDO' if pd.isna(x) else int(x))

Aqui na coluna ANOMES_TRA, aplicamos a mesma lógica da coluna MES_DIAGN, em que recortamos os valores e pegamos só o mês do início do tratamento. Para os valores nulos preenchemos também com 'DESCONHECIDO'.

In [141]:
# Criar a coluna MES_TRA com tratamento
df['MES_TRATAM'] = df['ANOMES_TRA'].apply(
    lambda x: 'DESCONHECIDO' if pd.isna(x) else int(str(int(x))[-2:])
)

# Remover a coluna antiga
df.drop(columns=['ANOMES_TRA'], inplace=True)

Aqui verificamos se a coluna UF_RESID tem valores nulos, como não há, seguimos para a próxima.

In [143]:
# Verificar se há valores nulos
valores_nulos = df['UF_RESID'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna UF_RESID contém valores nulos.")
else:
    print("A coluna UF_RESID não contém valores nulos.")

A coluna UF_RESID não contém valores nulos.

Aqui verificamos se a coluna MUN_RESID tem valores nulos, como não há, seguimos para a próxima.

In [144]:
# Verificar se há valores nulos
valores_nulos = df['MUN_RESID'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna MUN_RESID contém valores nulos.")
else:
    print("A coluna MUN_RESID não contém valores nulos.")

A coluna MUN_RESID não contém valores nulos.

Nas colunas UF_TRATAM e MUN_TRATAM existem valores nulos, visto que nem todos iniciam o tratamento. Nesse sentido preenchemos eles com 'DESCONHECIDO'

In [145]:
# Tratar a coluna UF_TRATAM
df['UF_TRATAM'] = df['UF_TRATAM'].apply(lambda x: 'DESCONHECIDO' if pd.isna(x) else int(x))

df['MUN_TRATAM'] = df['MUN_TRATAM'].apply(lambda x: 'DESCONHECIDO' if pd.isna(x) else int(x))

Aqui renomeamos as colunas referentes à diagnóstico e tratamento para um padrão. todas elas vão terminar com DIAGN (para diagnóstico) e TRATAM (para tratamento).

In [147]:
# Renomear as colunas para um padrão
df.rename(columns={'UF_DIAG': 'UF_DIAGN'}, inplace=True)

df.rename(columns={'MUN_DIAG': 'MUN_DIAGN'}, inplace=True)

df.rename(columns={'CNES_DIAG': 'CNES_DIAGN'}, inplace=True)

df.rename(columns={'CNES_TRAT': 'CNES_TRATAM'}, inplace=True)

df.rename(columns={'TEMPO_TRAT': 'TEMPO_TRATAM'}, inplace=True)

df.rename(columns={'DT_DIAG': 'DT_DIAGN'}, inplace=True)

df.rename(columns={'DT_TRAT': 'DT_TRATAM'}, inplace=True)

Aqui verificamos se a coluna UF_DIAGN tem valores nulos, como não tem, seguimos para a próxima.

In [148]:
# Verificar se há valores nulos
valores_nulos = df['UF_DIAGN'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna UF_DIAGN contém valores nulos.")
else:
    print("A coluna UF_DIAGN não contém valores nulos.")

A coluna UF_DIAGN não contém valores nulos.

Aqui verificamos se a coluna MUN_DIAGN tem valores nulos, como não tem, seguimos para a próxima.

In [149]:
# Verificar se há valores nulos
valores_nulos = df['MUN_DIAGN'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna MUN_DIAGN contém valores nulos.")
else:
    print("A coluna MUN_DIAGN não contém valores nulos.")

A coluna MUN_DIAGN não contém valores nulos.

Aqui verificamos se a coluna TRATAMENTO tem valores nulos. Ela não possui, mas isso não significa que todas as pessoas fizeram tratamento, isso é porque quando for o valor 5 é que não possui informações sobre o tratamento.

In [150]:
# Verificar se há valores nulos
valores_nulos = df['TRATAMENTO'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna TRATAMENTO contém valores nulos.")
else:
    print("A coluna TRATAMENTO não contém valores nulos.")

A coluna TRATAMENTO não contém valores nulos.

Aqui verificamos se a coluna DIAGNOSTIC tem valores nulos, como não tem, seguimos para a próxima.

In [151]:
# Verificar se há valores nulos
valores_nulos = df['DIAGNOSTIC'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna DIAGNOSTIC contém valores nulos.")
else:
    print("A coluna DIAGNOSTIC não contém valores nulos.")

A coluna DIAGNOSTIC não contém valores nulos.

Na coluna IDADE, quando o valor for 999 é porque a idade do paciente foi ignorada no momento do registro. Nesse sentido, abaixo filtramos para observar quais os registros em que a idade foi ignorada. Como foram poucos (certa de 10). Eles não teriam muito impacto. Alteramos esses valores para DESCONHECIDO para facilitar a manipulação de dados nessa coluna. Se um analista fosse calcular a média, esses valores 999 atrapalhariam.

In [152]:
# Filtrar os valores da coluna IDADE que são 999
df_999 = df[df['IDADE'] == 999]

# Exibir o resultado
print(df_999)

         ANO_DIAGN ANO_TRATAM  UF_RESID  MUN_RESID UF_TRATAM MUN_TRATAM  \
462389        2019       2020        23     230690        23     230440
792885        2019       2020        17     172010        35     350550
859275        2020       2023        24     240800        24     240800
963136        2020       2021        35     351880        35     355030
1212519       2020       2020        42     420290        42     420240
1248142       2020       2023        24     240520        24     240800
1475736       2021       2022        29     290750        29     292740
3019065       2023       2023        42     420320        42     420910
3128980       2023       2024        41     410370        41     411370
3132682       2023       2024        33     330452        33     330455

         UF_DIAGN  MUN_DIAGN  TRATAMENTO  DIAGNOSTIC  ...  CNES_DIAGN  \
462389         23     230440           2           1  ...     2563681
792885         35     350550           2           1  ...     2090236
859275         24     240800           2           1  ...     3675580
963136         35     355030           3           1  ...     2089696
1212519        42     420240           2           1  ...     2558254
1248142        24     240800           2           1  ...     3675580
1475736        29     292740           2           1  ...        4278
3019065        42     420910           2           1  ...     6048692
3128980        41     411370           2           1  ...     2577623
3132682        33     330455           2           1  ...     2269988

        CNES_TRATAM  TEMPO_TRATAM  CNS_PAC  DIAG_DETH    DT_DIAGN   DT_TRATAM  \
462389    2563681.0         373.0      NaN        C64  29/01/2019  06/02/2020
792885    2090236.0         372.0      NaN        C91  08/10/2019  14/10/2020
859275    3675580.0        1192.0      NaN        C91  08/03/2020  13/06/2023
963136    2089696.0         416.0      NaN        C49  01/02/2020  23/03/2021
1212519   2558254.0         301.0      NaN        C92  01/01/2020  28/10/2020
1248142   3675580.0        1234.0      NaN        C91  08/03/2020  25/07/2023
1475736      4278.0         365.0      NaN        C91  11/05/2021  11/05/2022
3019065   6048692.0          25.0      NaN        C92  01/05/2023  26/05/2023
3128980   2577623.0         231.0      NaN        C96  01/08/2023  19/03/2024
3132682   2269988.0         420.0      NaN        C74  06/02/2023  01/04/2024

            DT_NASC MES_DIAGN MES_TRATAM
462389   17/06/2019         1          2
792885   27/04/2020        10         10
859275   13/04/2020         3          6
963136   03/06/2020         2          3
1212519  21/10/2020         1         10
1248142  04/08/2020         3          7
1475736  11/11/2021         5          5
3019065  05/05/2023         5          5
3128980  12/09/2023         8          3
3132682  10/01/2024         2          4

[10 rows x 23 columns]

In [153]:
# Substituir os valores 999 por 'NÃO REGISTRADO' na coluna IDADE
df['IDADE'] = df['IDADE'].replace(999, 'IGNORADA')

Aqui verificamos se a coluna SEXO tem valores nulos, como não tem, seguimos para a próxima.

In [154]:
# Verificar se há valores nulos
valores_nulos = df['SEXO'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna SEXO contém valores nulos.")
else:
    print("A coluna SEXO não contém valores nulos.")

A coluna SEXO não contém valores nulos.

Aqui verificamos se a coluna ESTADIAM (estadiamento registrado da doença) tem valores nulos, como ela possui, fizemos o tratamento preenchendo os valores nulos por 9, que no dicionário de dados da base indica que é o valor correspondente ao ignorado. Além disso transformamos a coluna para inteiro, afim de dar uniformidade aos dados.

In [155]:
# Verificar se há valores nulos
valores_nulos = df['ESTADIAM'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna ESTADIAM contém valores nulos.")
else:
    print("A coluna ESTADIAM não contém valores nulos.")

A coluna ESTADIAM contém valores nulos.

In [158]:
# Substituir os valores nulos por 9 na coluna ESTADIAM
df['ESTADIAM'] = df['ESTADIAM'].fillna(9)

In [175]:
df['ESTADIAM'] = df['ESTADIAM'].astype(int)

Aqui verificamos se a coluna CNES_DIAGN (Código do estabelecimento do diagnóstico no cadastro nacional) tem valores nulos, como não tem, seguimos para a próxima.

In [159]:
# Verificar se há valores nulos
valores_nulos = df['CNES_DIAGN'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna CNES_DIAGN contém valores nulos.")
else:
    print("A coluna CNES_DIAGN não contém valores nulos.")

A coluna CNES_DIAGN não contém valores nulos.

Aqui verificamos se a coluna CNES_TRATAM (Código do estabelecimento do tratamento no cadastro nacional) tem valores nulos, como ele possui (já que nem todos fazem o tratamento da doença), fizemos o tratamento da base preenchendo os valores nulos com 0, depois passamos a coluna para inteiro (uniformidade) e depois substituimos onde havia 0 por 'DESCONHECIDO'.

In [160]:
# Verificar se há valores nulos
valores_nulos = df['CNES_TRATAM'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna CNES_TRATAM contém valores nulos.")
else:
    print("A coluna CNES_TRATAM não contém valores nulos.")

A coluna CNES_TRATAM contém valores nulos.

In [162]:
# Substituir os valores nulos (NaN) por 0 ou outro valor desejado
df['CNES_TRATAM'] = df['CNES_TRATAM'].fillna(0)

# Converter os valores da coluna CNES_TRATAM para inteiro
df['CNES_TRATAM'] = df['CNES_TRATAM'].astype(int)

In [171]:
# Substituir os valores 0 por 'DESCONHECIDO' na coluna CNES_TRATAM
df['CNES_TRATAM'] = df['CNES_TRATAM'].replace(0, 'DESCONHECIDO')

Aqui verificamos se a coluna TEMPO_TRATAM tem valores nulos. Como ela possui (já que nem todos fazem o tratamento) preenchemos esses valores com 99999, que no dicionário de dados é indicado ser o número para quando não há informação de tratamento.

In [ ]:
# Verificar se há valores nulos
valores_nulos = df['TEMPO_TRATAM'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna TEMPO_TRATAM contém valores nulos.")
else:
    print("A coluna TEMPO_TRATAM não contém valores nulos.")

A coluna TEMPO_TRATAM contém valores nulos.

In [180]:
df['TEMPO_TRATAM'] = df['TEMPO_TRATAM'].fillna(99999).astype(int)

Aqui verificamos se a coluna DT_DIAGN (data do diagnóstico) contém valores nulos, como ela não possui. Seguimos para a próxima.

In [185]:
# Verificar se há valores nulos
valores_nulos = df['DT_DIAGN'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna DT_DIAGN contém valores nulos.")
else:
    print("A coluna DT_DIAGN não contém valores nulos.")

A coluna DT_DIAGN não contém valores nulos.

Aqui deletamos a coluna CNS_PAC, que é o identificador da Carteira Nacional de Saúde. Por questão de dados sensíveis, a coluna foi removida.

In [182]:
df.drop(columns={'CNS_PAC'}, inplace=True, axis=1)

Aqui verificamos se a coluna DT_TRATAM (data do início do tratamento) tem valores nulos. Como ela possui, preenchemos eles como DESCONHECIDO.

In [193]:
# Verificar se há valores nulos
valores_nulos = df['DT_TRATAM'].isna().any()

# Exibir o resultado
if valores_nulos:
    print("A coluna DT_TRATAM contém valores nulos.")
else:
    print("A coluna DT_TRATAM não contém valores nulos.")

A coluna DT_TRATAM não contém valores nulos.

In [191]:
# Substituir os valores nulos (NaN) por 0 ou outro valor desejado
df['DT_TRATAM'] = df['DT_TRATAM'].fillna('DESCONHECIDO')

Aqui fazemos só um reposicionamento das colunas para que todas fiquem em uma ordem mais coerente. No caso quando criamos as colunas MES_DIAGN e MES_TRATAM, elas são inseridas no final do dataframe. Para que fique mais fácil a compreensão da base, realocamos elas mais para o início.

In [194]:
#Definir as colunas que deseja mover e o ponto de inserção
colunas_para_mover = ['MES_DIAGN']
ponto_insercao = 1  # Índice onde as colunas serão inseridas (após 'COL2')

# Reorganizar as colunas
colunas = (
    list(df.columns[:ponto_insercao]) +
    colunas_para_mover +
    [col for col in df.columns if col not in colunas_para_mover and col not in df.columns[:ponto_insercao]]
)
df = df[colunas]

In [196]:
#Definir as colunas que deseja mover e o ponto de inserção
colunas_para_mover = ['MES_TRATAM']
ponto_insercao = 3  # Índice onde as colunas serão inseridas (após 'COL2')

# Reorganizar as colunas
colunas = (
    list(df.columns[:ponto_insercao]) +
    colunas_para_mover +
    [col for col in df.columns if col not in colunas_para_mover and col not in df.columns[:ponto_insercao]]
)
df = df[colunas]

In [ ]:
df.to_csv('base_tratada_final.csv')